.gradle/
.idea/
.navigation/
*.ap_
*.apk
*.class
*.dex
*.iml
*.keystore
*.log
*.properties
######## KEEP THIS FILE SORTED ALPHABETICALLY ########
bin/
build/
captures/
gen/
google_api_key.xml
google_client_secrets.json
local.properties
proguard/
settings.xml
