.gradle/
.idea/
.navigation/
*.ap_
*.apk
*.class
*.dex
*.iml
*.log
######## KEEP THIS FILE SORTED ALPHABETICALLY ########
bin/
build/
captures/
gen/
local.properties
proguard/
*.properties
settings.xml
google_api_key.xml
*.keystore
*secret.json
